* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  width: 90%;
  margin: auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.node {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.node:hover {
  transform: scale(1.05);
}

.active {
  background: #38bdf8;
  color: black;
}

.stage-card {
  margin-top: 2rem;
  background: #1e293b;
  border-radius: 15px;
  padding: 2rem;
}

.stage-card img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
}